# {{ crate }}
{%- set project = (("sufflope/" ~ crate) | urlencode | replace("/", "%2F")) %}

[![License](https://img.shields.io/gitlab/license/{{ project }})](https://spdx.org/licenses/{{ license }}.html)
[![GitLab Release](https://img.shields.io/gitlab/v/release/{{ project }})]({{ repository }}/-/releases/permalink/latest)
[![Crates.io Version](https://img.shields.io/crates/v/{{ crate }})](https://crates.io/crates/{{ crate | urlencode }})
[![Source Code Repository](https://img.shields.io/badge/Code-on%20GitLab-blue?logo=gitlab)]({{ repository }})
[![GitLab Pipeline Status](https://img.shields.io/gitlab/pipeline-status/{{ project }})]({{ repository }}/-/pipelines/)
[![GitLab Code Coverage](https://img.shields.io/gitlab/pipeline-coverage/{{ project }})]({{ repository }}/-/pipelines/)
[![Crates.io MSRV](https://img.shields.io/crates/msrv/{{ crate }})](https://releases.rs/docs/{{ rust_version }}/)

{{ readme }}

{%- if links != "" %}

{{ links }}
{%- endif -%}
